.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-color: #daf5f2;
    border-radius: 2em;
}

.ce {
    text-align: center;
    //   background-color: #212120;
    background-image: url("https://static.tumblr.com/048bd60293355899e45b5a7a1224bf0a/hp0va3t/OWuohwsed/tumblr_static_filename_2048_v2.png");
    background-size: contain;
}

.do {
    background-color: #191e26;
}