<ion-header>
    <ion-toolbar>
        <ion-title>posts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list *ngFor="let post of posts">
        <ng-template [ngIf]="post.type=='photo'">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{post.blog_name}}</ion-card-title>
                    <ion-card-subtitle>{{post.summary}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let photo of post.photos">
                        <img src={{photo.original_size.url}}>
                    </div>
                </ion-card-content>
            </ion-card>
        </ng-template>

        <ng-template [ngIf]="post.type=='text'">
            <ion-card>
                <ion-card-header>

                    <ion-card-title>{{post.blog_name}}</ion-card-title>
                    <ion-card-subtitle>{{post.date}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div [innerHTML]="post.body"></div>

                </ion-card-content>
            </ion-card>
        </ng-template>
        <ng-template [ngIf]="post.type=='answer'">
            <ion-card>
                <ion-card-header>

                    <ion-card-title>{{post.blog_name}}</ion-card-title>
                    <ion-card-subtitle>{{post.summary}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div [innerHTML]="post.answer"></div>

                </ion-card-content>
            </ion-card>
        </ng-template>
    </ion-list>
    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>